- var styles = [require('../styles/common.styl'), require('../styles/table.styl')];

doctype html
html(lang="en")
    head
        script(src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise")
        title="jRPG list"
        meta(content="text/html;charset=utf-8", http-equiv="Content-Type")
        meta(content="utf-8", http-equiv="encoding")
        each value in styles
            style !{value}

- var list = require('../../data/reddit-jrpg-list.json');

body
    main

    noscript
        section
            p="Javascript is disabled :("
            p="Please enable it for site to work."

