html
    box-sizing: border-box

*,
::after,
::before
    box-sizing: inherit

body
    margin: 0

.navbar
    background: #e7e7e7
    border-radius: 4px
    border: 1px solid transparent
    display: flex
    padding: .5em
    font-size: 1.5em
    justify-content: space-between
    align-items: center

    & > .menu
        display: flex

        & > *
            margin-right: .5em
            &.heading
                font-weight: 900

    & > .filters
        & > .input
            border: 1px solid #96a8b2
            border-radius: 4px
            font-size: 1em
            padding: .5em
