.table
    margin: .5em
    display: flex
    flex-wrap: wrap

    & > .row
        display: flex
        flex-wrap: wrap
        flex: 0 0 100%

        &.heading
            color: white
            background: #444
            font-size: 2em

            &:hover
                background: #444
                cursor: inherit

        &:hover
            background: teal
            cursor: pointer

        & > .cell
            flex: 1
            padding: 0.5em
            text-align: left
            overflow: auto
